<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunInterval" value="1" />
    <add key="HoraConvencional" value="6" />
    <add key="Modo" value="Debug" />
    <add key="RutaFicheroPadron" value="D:\PadronSunat\" />
  </appSettings>
  <connectionStrings>
    <add name="ConexionPadron" connectionString="Data Source=(Local);Initial Catalog=dbfacturacion;User ID=sa;Password=1234;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>