<div id="dialog_agregarproducto" tabindex="-1" role="dialog" class="modal in" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInLeft">
            <div class="modal-header bg-success">
                <h4 class="modal-title" id="dialog_titulo">Agregar Productos</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body"> 

            </div>
            <div class="modal-footer">
                <button id="btn_add" name="btn_add" class="btn btn-success" type="button"><i class="icon icon-save"></i> Agregar</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>