@using Facturacion.Entidades
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = (UsuarioBe)Session["LoginUsuario"];
    var ListaSerie = ViewBag.ListaSerie;
    var UsuarioId = usuario.IdUsuario;
}
<div class="row gutter-xs">
    <div class="col-xs-12">
        <div id="divaccordion" class="panel-group">
            <div class="panel panel-default filter">
                <div class="panel-heading filterchild">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#divaccordion" href="#divfiltro" class="collapsed" aria-expanded="false">
                            Busqueda
                            <i class="icon icon-search pull-right"> </i>
                        </a>
                    </h4>
                </div>
                <div id="divfiltro" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" id="txt_filtro" name="txt_filtro" class="form-control" placeholder="Buscar por codigo, nombre" />
                            </div>
                            <div class="col-xs-2">
                                <input type="button" id="btn_filtrar" name="btn_filtrar" value="Buscar" class="btn btn-success pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gutter-xs">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <table id="tblproducto" class="table table-bordered table-striped table-responsive" cellspacing="0" width="100%">
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_RegistroVenta");
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Utils.js")"></script>
<script type="text/javascript">
    var _matriz = []; 
    var VALORCOMBO = "";
    var TEXTOCOMBO = "Seleccione";
    window.onload = function () { 
        document.getElementById("lnkAgregar").addEventListener("click", function () {
            $("#dialog_nuevo").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            $("#dialog_nuevo").appendTo("body");
        },false);
        ConvertirSerie();
        ListarComboSerie();
    };
    function ConvertirSerie() {
        var response = '@ListaSerie';
        var fila = 0;
        var filaDatos = response.split("#");
        var nroFilas = response.length;
        var columna = null;
        var nroColumnas = 0;
        for (var i = 0; i < nroFilas; i++) {
            if (filaDatos[i] == null || typeof (filaDatos[i]) == undefined) continue;
            columna = filaDatos[i].split("|");
            nroColumnas = columna.length;
            _matriz[fila] = [];
            for (var j = 0; j < nroColumnas; j++) {
                if (isNaN(columna[j])) _matriz[fila][j] = columna[j];
                else _matriz[fila][j] = columna[j] * 1;
            }
            fila++;
        }

    }
    function ListarComboSerie() {
        var ddlb_serie = document.getElementById("ddlb_serie");
        var nFilas = _matriz.length;
        var nColumnas = _matriz[0].length;
        var ddlb = String.Format("<option value='{0}'>{1}</option>", VALORCOMBO, TEXTOCOMBO);
        for (var i = 1; i < nFilas; i++) {
            ddlb += String.Format("<option value='{0}'>{1}</option>", _matriz[i][0], _matriz[i][1]);
        }
        ddlb_serie.innerHTML = ddlb;
    }
</script>